/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.cdk-overlay-container {
   
    z-index: 1062 !important;
}


.example-full-width {
    width: 100%;
  }



  
  .cal-month-view .cal-event {
    width: auto !important; 
    height: auto !important;
    border-radius:7% !important; 
    display: inline-block;
    margin: 2px;
    display: block !important;
    margin-bottom: 40px !important;
    line-height: normal;
    padding: 10px 5px;
    
}




.mat-form-field {
    
    width: 80% !important;
}
